services:
  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "5173:80"
    env_file:
      - ./Frontend/.env
    networks:
      - app-network
    depends_on:
      - backend

  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "5000:5000"
    env_file:
      - ./Backend/.env
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
